body {
 background-color: #ecd5e9;
 font-family: monospace;
}


form{
width: 350px;
margin: auto;
padding-top: 50px;
}

.card{
    box-shadow: 1px 1px 5px #ccc;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
}
 .card-top{
     text-align: center;
 }
 
.card-group{
 margin-bottom: 15px;
}

 .title{
     color: #765bb9;
 }

 .card-group > label{
     width: 100%;
     color: #9a989b;
 }


.card-group >button{
    background-image: linear-gradient( to right, #b92478,#6d5fcf);
    width: 90%;
    border-radius: 50px;
    padding: 6px;
    color: white;
    border: 0px;
    outline: 0px;
}

.btn button:hover {
    background-image: linear-gradient( to right,#6d5fcf, #b92478);

}
 
.card-group > input{
     border-radius: 6px;
     outline: 0;
     width: 70%;
     height: 15px;
     padding: 5px;
 }